.work-list {
    //display: flex;
   
}

.work-list .link:not(:last-child) {
    margin-right: 30px;
}

.work-list .title {
    color: $primary-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    
}

.product-actions {
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
  
}

.work-list .link {
    display: block;
    width: calc((100% - 60px) / 3);
    height: 294px;
    text-decoration: none; 
    background-position: center;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

