.page-footer {
    background-color: $footer-color;
}

.section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer .container {
  // display: flex;
  //justify-content: space-between;
    //align-items: baseline;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;  
    } 
}

.logo.inverse {
    color: $primary-white-color;
}

.footer-address {
   padding-bottom: 60px;

   @media screen and (min-width: 768px) {
       margin-left: 76px;
       margin-right: 165px;
   }
}

.footer-address .logo {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.address {
    color: $primary-white-color;
    text-decoration: none;
    font-style: inherit; 
}

.adress-list .link {
    color: $primary-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
     &:hover,
     &:focus {
       color: $accent-color;
   }
}

.footer-social {
   display: inline-block;
    //width: 206px;
    color: $primary-white-color;
    padding-bottom: 60px;

}

.footer-social .logo-list {
   margin: 0;
   padding: 20px 0px 0px 0px;
}


.footer-social .link {
    fill: $primary-white-color;
    background-color: rgba(255, 255, 255, 0.1);;
}

.form {
    //width: 570px;
    padding: 0;

}

.form .group {
    display: flex;
    
}

.group-title {
    color: $primary-white-color; 
    margin-bottom: 20px; 
}

.group-button {
    //display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px; 

}

.form-field {
    //width: 358px;
   
    display: flex;
    //margin-right: 12px;
    margin-bottom: 20px;
    
}

.form-field input {
    width: 100%;
   
    padding: 16px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $footer-color;
}

.button-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: $accent-color;
    color: $primary-white-color;
    font-weight: 500;
    border: none;
    
    font-size: 16px;
    padding: 0;
}

.button-primary .logo-primary {
    width: 24px;
    height: 24px; 
    margin-left: 10px;
    fill: $primary-white-color;

}