.page-header {

    padding-top: 24px;
    padding-bottom: 0;
   
}

.main-nav {
    display: flex; 
    align-items: center;
}

.site-nav {
    display: flex;
    
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.item .current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 2px;
}

.site-nav .link,
.auth-nav .link  {
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    
    transition: color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.site-nav .link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

     &:hover, 
     &:focus {
      color: $accent-color;
    }
}

.site-nav .link.current {
    color: $accent-color;
}

.auth-nav {
    margin-left: auto;
    //display: flex; 
    align-items:center;  

    @media screen and (min-width: 1600px){
        display: flex;
    }

}

.auth-nav .link:hover,
.auth-nav .link:focus {
   color: $accent-color;
   fill: $accent-color;
}

.auth-nav .item:not(:last-child) {
    margin-right: 30px;
}

.logo-mail {
 background-size: cover;
 align-items: center;
 background-repeat: no-repeat; 

 width: 16px; 
 height: 11px;
 margin-right: 10px;
 

}