.logo  {
    margin-right: 85px;

    color: $header-logo-color;  
    font-family: $logo-font; 
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-primary {
    color: $accent-color;
     
}
