$primary-text-color: #757575;
$title-text-color: #212121; 
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$footer-color: #2F303A;
$background-color: #E5E5E5;
$background-color-sekondary: #F5F4FA;
$header-logo-color: #000000;
$border-color: #AFB1B8;

$default-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif; 